// font import
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Reem+Kufi:wght@400..700&display=swap');

:root {
    --tiny-space: .25rem;
    --small-space: .5rem;
    --big-space: 1rem;

    --rounding: var(--small-space);

    --shadow: rgb(0 0 0 / .15);
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    min-height: 100dvh;

    justify-content: space-between;

    background-color: var(--secondary);

    &:fullscreen::backdrop {
        background-color: var(--secondary);
    }
}


header {
    position: relative;

    padding: var(--small-space) var(--big-space);

    height: 3rem;

    justify-content: space-between;
    align-items: center;

    background-color: var(--primary);

    >#settings-dropdown {
        position: absolute;
        top: 0px;
        right: var(--big-space);

        padding: calc(var(--small-space) + var(--tiny-space)) var(--tiny-space) var(--small-space) var(--tiny-space);
        gap: var(--big-space);

        box-sizing: border-box;
        max-height: calc(3rem + 2 * var(--small-space));
        --target-height: calc(3rem + 2 * var(--small-space));
        overflow: hidden;

        background-color: var(--accent);

        border-radius: 0px;

        transition: max-height 150ms ease-out, border-radius 150ms ease-in-out;

        > :first-child {
            rotate: 0deg;
            transition: rotate 150ms ease-out;
        }

        &[open] {
            max-height: var(--target-height);
            border-radius: 0px 0px var(--rounding) var(--rounding);

            > :first-child {
                rotate: -60deg;
            }
        }

        >svg,
        >button {
            width: 2.5rem;
            height: 2.5rem;
            box-shadow: none;

            background: none;
        }

        * {
            color: var(--text);
        }
    }
}

footer {
    padding: var(--small-space) var(--big-space);
    gap: var(--tiny-space);

    justify-content: center;
    align-items: center;

    background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-family: "Reem Kufi", sans-serif;
    font-weight: calc(700 + var(--extra-font-weight));
    color: var(--text);
}

p,
label,
a {
    margin: 0;

    font-family: "Didact Gothic", sans-serif;
    font-weight: calc(500 + var(--extra-font-weight));
    color: var(--text);
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button,
input[type=button] {
    @extend .interactable;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--small-space) var(--big-space);
    gap: var(--small-space);

    background-color: var(--accent);
    color: var(--text);

    border: 0px;
    border-radius: var(--rounding);

    scale: 1;
    transition: scale 150ms cubic-bezier(0, 1, .75, 1.5);

    &:disabled {
        filter: saturate(0) brightness(1.2);
    }

    &:not(:disabled) {
        &:hover {
            scale: 1.1;

            &.link>h3 {
                text-decoration: 2px underline;

            }
        }

        &:active {
            scale: 1;
        }
    }

}

div {
    border-radius: var(--rounding);
}

div.hr {
    box-sizing: border-box;
    width: 100%;

    border: 1px solid var(--text);
    border-radius: var(--rounding);
}

svg.icon {
    pointer-events: none;
    flex-shrink: 0;
    overflow: visible;
}

.content {
    padding: var(--big-space);
    gap: var(--big-space);

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.panel {
    padding: var(--big-space);
    gap: var(--small-space);

    box-sizing: border-box;
    width: 100%;
    // height: 100%;
    flex-grow: 1;

    background-color: var(--primary);

    >h1 {
        text-align: center;
    }
}


// Utility Classes

.flex {
    display: flex;

    &.rows {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }

    &.columns {
        flex-direction: row;

        &.reverse {
            flex-direction: row-reverse;
        }

    }

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.tiny-gap {
        gap: var(--tiny-space);
    }

    &.small-gap {
        gap: var(--small-space);
    }

    &.big-gap {
        gap: var(--big-space);
    }

}


.drop-shadow {
    &:is(h1, h2, h3, h4, h5, h6, p, label, span) {
        // apply text-shadow to text element
        text-shadow: 0px var(--tiny-space) 1px var(--shadow);
    }

    &:not(h1, h2, h3, h4, h5, h6, p, label, span) {
        // apply box-shadow to non-text elements
        box-shadow: 0px var(--tiny-space) 1px 0px var(--shadow);
    }
}

.interactable {
    box-shadow:
        0px var(--tiny-space) 1px 0px var(--shadow),
        inset 0px 0px 1px 2px var(--shadow),
        inset 0 0 0 2px color-mix(in srgb, var(--accent) 97.5%, black);
}


// Responsive Design

body[resolution=tiny] {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.125rem;
    }

    h3 {
        font-size: 0.8775rem;
    }

    h4 {
        font-size: 0.75rem;
    }

    h5 {
        font-size: 0.6225rem;
    }

    h6 {
        font-size: 0.5025rem;
    }
}